@charset "UTF-8";

* {

    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
    
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #745c4fa8;
    width: 600px;
    padding: 10px;
    margin: auto;
    font-family: 'Curier New';
}
h1 {
    color: #f29209;
    text-align: center;
    text-shadow: 1px 1px 2px #745c4fa8;
}
h2 {
 color: #125189;
}
p {
    text-align: justify;
}